:root {
  --first-color: #ffa3a3;
  --second-color: #F8C4B4;
  --third-color: #E5EBB2;
  --fourth-color: #BCE29E;
  --text-color: #192841;
  --primary-font: 'Syne', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

.flex,
.flex-stretch{
  display: flex;
}

.flex-stretch{
  justify-content: space-between;
}

.two-p-padding {
  padding: 2%;
}

.no-p-top {
  padding-top: 0%;
}

.no-p-bottom {
  padding-bottom: 0%;
}

h1 {
  font-family: var(--primary-font);
  font-size: 2.8em;
  margin: 0px;
  color: var(--text-color);
}

h2 {
  font-family: var(--primary-font);
  font-size: 35px;
  margin: 0px;
  color: var(--text-color);
}

.custom-a {
  text-decoration: none;
}

.custom-a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#button-one,
#button-two,
#button-three,
#button-four {
  border-radius: 7px;
  border: 0px;
  font-family: var(--primary-font);
  font-size: 1.25em;
  letter-spacing: 0.01mm;
  transition: all ease-in 0.3s;
  color: var(--text-color);
  height: 100%;
  width: 100%;
  padding: 4%;
  padding-bottom: 6%;
  padding-top: 6%;
}

.custom-a {
  width:24%;
  justify-content: space-between;
}

#button-one:hover,
#button-two:hover,
#button-three:hover,
#button-four:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0px var(--text-color);
}

#button-one:active,
#button-two:active,
#button-three:active,
#button-four:active{
  transform: translate(0px, 0px);
  box-shadow: none;
}

#button-one {
  background-color: var(--first-color);
}

#button-two {
  background-color: var(--second-color);
}

#button-three {
  background-color: var(--third-color);
}

#button-four {
  background-color: var(--fourth-color);
}

p {
  color: #808080;
  font-weight: 100;
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: bold;
}

#header {
  width: 76%;
}

#contact {
  display: flex;
  width: 24%;
}

#title-one,
#title-two,
#title-three,
#title-four {
  font-family: var(--primary-font);
  color: var(--text-color);
  padding-bottom: 2%;
}

.one-p-bottom {
  padding-bottom: 1%;
}

#title-one {
  text-shadow: 1.5px 1.5px var(--first-color);
}

#title-two {
  text-shadow: 1.5px 1.5px var(--second-color);
}

#title-three {
  text-shadow: 1.5px 1.5px var(--third-color);
}

#title-four {
  text-shadow: 1.5px 1.5px var(--fourth-color);
}

#card-one,
#card-two,
#card-three,
#card-four,
#card-five,
#card-six,
#card-seven,
#card-eight {
  background-color: white;
}

#card-five {
  display: flex;
  align-items: baseline;
}

#course {
  border: 2px solid var(--second-color);
}

#education {
  border: 2px solid var(--fourth-color);
}

#experience {
  border: 2px solid var(--first-color);
}

.card {
  border-radius: 7px;
  width: 100%;
  margin-bottom: 1%;
  background-color: white;
}

.skill-card {
  width: 100%;
}

#contact {
  grid-area: contact;
  display: grid;
  grid-template-areas: 
  'github linkedin';
  gap: 15px;
}


#github,
#linkedin,
#mail,
#download {
  border-radius: 5px;
  background-color: var(--text-color);
  transition: all ease-in 0.3s;
  border: 0px;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

#github:hover,
#linkedin:hover,
#mail:hover,
#download:hover {
  transform: translate(-5px, -5px);
}

#github:hover {
  box-shadow: 5px 5px 0px var(--first-color);
}

#linkedin:hover {
  box-shadow: 5px 5px 0px var(--second-color);
}

#mail:hover {
  box-shadow: 5px 5px 0px var(--third-color);
}

#github {
  grid-area: github;
}

#linkedin {
  grid-area: linkedin;
}

#mail {
  grid-area: mail;
}

#download {
  grid-area: download;
}

#flex-one {
  grid-area: flex-one;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#flex-two {
  grid-area: flex-two;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#flex-three {
  grid-area: flex-three;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

h4 {
  color: var(--text-color);
  font-weight: 100;
  font-size: 16px;
  font-family: var(--secondary-font);
}

h3 {
  font-size: 20px;
  color: var(--text-color);
  font-family: var(--primary-font);
}

h5 {
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--primary-font);
  margin: 10px;
}

.pill-pink {
  border: 2px #F8C4B4 solid;
  background-color: #f8c4b44e;
}

.pill {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  font-family: var(--secondary-font);
  font-size: 16px;
}

.pill-dark-green {
  border: 2px #BCE29E solid;
  background-color: #bbe29e59;
}

.pill-green {
  background-color: #E5EBB2;
 
}

.pill-parent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.extra-padding {
  padding-left: 15px;
}

h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}

ul {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: var(--text-color);
}

li {
  padding: 4px;
}

img {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  border-radius: 2%;
}

.subheader-one,
.subheader-two,
.subheader-four {
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
  padding: 15px;
}

.subheader-two {
  border: 5px solid var(--fourth-color);
  background-color: var(--fourth-color);
}

.subheader-one {
  border: 5px solid var(--second-color);
  background-color: var(--second-color);
}

.subheader-three {
  border: 5px solid var(--third-color);
  background-color: var(--third-color);
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
  width: auto;
}

.subheader-four {
  border: 5px solid var(--first-color);
  background-color: var(--first-color);
}

.inner-header {
  font-family: var(--primary-font);
  color: var(--text-color);
}

.padding {
  padding: 35px;
  padding-top: 15px;
}

.bold {
  font-weight: bold;
}

#credit {
  background-color: var(--text-color);
  color: white;
  font-family: var(--secondary-font);
  font-size: 13px;
  padding: 35px;
  text-align: center;
}

body {
  background-color: white;
}

#body-wo-footer {
  padding: 15%;
  padding-top: 5%;
  padding-bottom: 2%;
}

#linkedin,
#github
{
  color: white;
  font-size: 25px;
}